<%- include("header") -%>
    <h1>This is about!</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, enim. Sed voluptatum non at dolorem sequi debitis corporis, 
    possimus architecto veniam, officiis quae ipsam alias officia magnam, nisi illum laudantium?</p>
<%- include("footer") -%>